<section class="companies">
    <div class="new-company">
        <button mat-raised-button color="primary" [routerLink]="['/empresas/nova-empresa']">Nova Empresa</button>
    </div>
    <table mat-table [dataSource]="companies" class="mat-elevation-z8">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let empresa"> {{empresa.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let empresa"> {{empresa.telefone}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let empresa"> {{empresa.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef> Endereço </th>
            <td mat-cell *matCellDef="let empresa">
                <span *ngIf="empresa.enderecoLogradouro"> {{empresa.enderecoLogradouro}}, {{empresa.enderecoNumero}},
                    {{empresa.enderecoBairro}} - {{empresa.enderecoCidade}}/{{empresa.enderecoUf}}
                </span>
                <span *ngIf="!empresa.enderecoLogradouro">-</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let empresa">
                <button mat-raised-button color="primary" [routerLink]="'/empresas/'+empresa.id">Editar</button>
                <button mat-raised-button color="warn" (click)="deleteCompany(empresa.id)">Excluir</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let empresa; columns: displayedColumns;"></tr>
    </table>
</section>